body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  width: auto;
}

main {
  height: 100vh;
}

main .imagem { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Container with the background image */
.container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 200px;
}

/* Content div for text and button */
.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #1ABC9C;
}

/* Footer Styles */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.footercontent { 
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 5px;
}

